body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  background-color: rgb(6, 21, 81);
}

.navItemsInner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.sticky-nav {
  position: fixed;
  top: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}

.navbar-main {
  background-color: rgb(6, 21, 81);
  padding: 20px 10px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 3px solid #8151f1;
}

.nav-items {
  width: 25%;
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}

.nav-item.active {
  color: #8151f1;
}

.nav-item {
  color: white;
  text-decoration: none;
}

.nav-item:hover {
  color: rgb(133, 77, 255);
  text-decoration: none;
}

.portfolio-projects {
  color: white;
  margin-top: 10%;
}

#portfolio-heading {
  text-align: center;
  font-size: 3.5rem;
  color: #8151f1;
  text-shadow: 1px 1px 2px;
}

.portfolio-sub-heading {
  text-align: center;
  font-size: larger;
  padding-top: 2%;
  width: 60%;
  margin: 0 auto;
}

#projects-heading {
  color: white;
  font-size: 2.5rem;
  padding-left: 15%;
  padding-top: 3%;
}

.underline hr {
  border: none; /* Remove default border */
  height: 5px;
  width: 16.5%; /* Adjust thickness as needed */
  background-color: white; /* Set color */
  margin: 10px 0;
  margin-left: 15%;
}

#project-number-one {
  font-size: 3rem;
  padding-left: 3%;
  margin-bottom: -10%;
}

#project-number-two {
  font-size: 3rem;
  padding-left: 2.5%;
}

#project-number-three {
  font-size: 3rem;
  padding-left: 3%;
  margin-bottom: -9%;
}

#project-number-four {
  font-size: 3rem;
  padding-left: 2.5%;
  margin-bottom: -11%;
}

#number-two-circle {
  margin-top: -9.5%;
}

.project-one-container-left {
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-two-container-left {
  margin-left: 15%;
  width: 100%;
}

.project-three-container-left {
  margin-left: 15%;
  width: 100%;
}

.project-four-container-left {
  margin-left: 15%;
  width: 100%;
}

.project-two-container-right {
  text-align: center;
}

.project-three-right {
  text-align: center;
}

.project-one-images-1 {
  text-align: center;
}

.project-one-images {
  display: flex;
  width: 40%;
  margin: 0 auto;
}

.project-four-images {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

#project-four-image-one {
  padding-right: 5%;
}

#project-one-text {
  padding-top: 2%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#project-two-text {
  padding-top: 2%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#project-three-text {
  padding-top: 2%;
  font-size: 1.5rem;
  margin: 0 auto;
}

#project-four-text {
  padding-top: 2%;
  font-size: 1.5rem;
  margin: 0 auto;
}

.project-one-container {
  display: flex;
}

.project-two-container {
  display: flex;
  margin-top: 10%;
  width: 95%;
}

.project-three-container {
  display: flex;
  margin-top: 10%;
  width: 95%;
}

.project-four-container {
  display: flex;
  margin-top: 10%;
  width: 95%;
}

.project-four-image {
  padding: 2%;
}

#project-four-subtext {
  text-align: center;
  color: #8151f1;
  text-decoration: none;
}

#project-four-subtext:hover {
  color: white;
}

/* Clickable Image css */
.image-container {
  text-align: center;
  margin-top: 20px;
}

.small-circles {
  position: absolute;
  right: 1%;
  z-index: -1;
  width: 5%;
}

.small-circles-1 {
  position: absolute;
  left: 4%;
  z-index: -1;
  width: 5%;
}

.elevator-pitch-image-x-o-left {
  position: absolute;
  width: 40%;
  right: 1%;
  z-index: -1;
  margin-top: -10%;
  padding-right: 5%;
  display: flex;
  justify-content: flex-end;
}

.elevator-pitch-image-x-o-right {
  position: absolute;
  width: 80%;
  z-index: -1;
  left: 5%;
  margin-top: -7%;
}

#elevator-pitch-image-x-o-right-one {
  position: absolute;
  width: 50%;
  right: 1%;
  z-index: -1;
  margin-top: -15%;
  padding-right: 5%;
}

#elevator-pitch-image-x-o-right-two {
  position: absolute;
  width: 50%;
  right: 1%;
  z-index: -1;
  margin-top: -10%;
  padding-right: 5%;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 2%;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 21, 81, 0.8);
  overflow: auto;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

#largeImage {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
}
/* Skills */
.skills {
  background-color: white;
  padding-bottom: 10%;
}

#skills-heading {
  color: #061551;
  font-size: 2.5rem;
  padding-left: 15%;
  padding-top: 3%;
  font-weight: 800;
}

.skillset-one {
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin-left: 15%;
  margin-top: 4%;
  width: 75%;
}

.skillset-background {
  background-color: #061551;
  padding: 6% 2%;
  border-radius: 5px;
  width: 50%;
}

.skillset-margin {
  margin-right: 2%;
}

.skillset-heading {
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
  padding-bottom: 5%;
  margin-top: 20%;
}

.skillset-image {
  text-align: center;
  margin-top: 8%;
}

.skill-number {
  text-align: center;
  margin: 0 auto;
  font-size: 2.5rem;
  margin-top: -30%;
  border-radius: 50%;
  padding: 4% 10%;
  background-color: #f0f0f0;
  width: 25px;
  height: 50px;
  margin-bottom: 5%;
  color: #2f2e2e;
}

/* About Me  */
.about-me {
  background-color: #c1c4d0;
  padding-bottom: 6%;
  padding-left: 6%;
  display: flex;
  justify-content: space-evenly;
}

#about-me-heading {
  color: #8151f1;
  font-size: 3.5rem;
  padding-bottom: 5%;
  font-weight: 800;
}

.about-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2rem;
  padding-right: 5%;
  padding-left: 5%;
  background-color: #061551;
  color: white;
}

.download-button {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

/* Contact Me  */
#contact-me-heading {
  color: #ffffff;
  font-size: 2rem;
  padding-bottom: 5%;
  padding-top: 2%;
  font-weight: 800;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.contact-information {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.contact-sub-heading {
  color: rgb(133, 77, 255);
}

.vertical-line {
  border-left: 1px solid white;
  height: 30px;
}

.footer-dark {
  padding: 20px 0;
  background-color: #061551;
  bottom: 0;
  top: 0;
  position: relative;
}

.footer-icons {
  display: flex;
  margin: 0 auto;
  width: 8%;
  justify-content: space-between;
}

.copyright {
  color: #854dff;
  text-align: center;
  margin-top: 20px;
}

.menu-button {
  display: none;
}

@media (max-width: 768px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }

  .navbar-main {
    height: 4vh;
  }

  .nav-items {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #ffffff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1); /* Adding shadow on the left side */
    transform: translateX(100%); /* Initially off-screen to the right */
    transition: transform 0.3s ease-in-out;
    color: black;
  }

  .navItemsInner {
    display: flex;
    flex-direction: column;
    height: 30vh;
    padding: 10px 10px;
    color: black;
  }

  .nav-items.active {
    transform: translateX(0); /* Moves the menu into view */
  }

  .nav-items.active {
    display: flex;
  }

  .menu-button {
    display: block;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 10%;
  }

  .nav-item {
    color: black;
    padding: 10px 0;
  }

  .menu-button:focus {
    outline: none;
  }

  .portfolio-projects {
    margin-top: 20%;
  }

  .projects {
    display: flex;
    flex-direction: column;
  }

  #portfolio-heading {
    font-size: 2.5rem;
  }

  .portfolio-sub-heading {
    width: 80%;
    font-size: 1rem;
  }

  #projects-heading {
    font-size: 1.5rem;
    padding-top: 10%;
  }

  .underline hr {
    width: 32%;
  }

  .project-one-container,
  .project-two-container,
  .project-three-container,
  .project-four-container {
    flex-direction: column;
  }

  #project-number-one,
  #project-number-two,
  #project-number-three,
  #project-number-four {
    font-size: 2.5rem;
  }

  #number-one-circle {
    margin-top: -2.5%;
    margin-left: -0.5%;
  }

  #project-one-text,
  #project-two-text,
  #project-three-text,
  #project-four-text {
    font-size: 1rem;
    width: 90%;
    margin-left: -1%;
  }

  #number-one-circle-image {
    width: 12%;
    height: 12%;
  }

  #cloud-computing,
  #cloud-computing-linux {
    width: 90%;
    height: 90%;
  }

  .project-one-images {
    margin-top: 5%;
  }

  #smallImageFour,
  #smallImageThree,
  #smallImageFive,
  #smallImageSix {
    width: 60%;
    height: 60%;
  }

  .project-two-container-right,
  .project-three-right {
    margin-top: 5%;
  }

  .project-one-container-left, .project-two-container-left, .project-three-container-left, .project-four-container-left {
    width: fit-content;
  }

  .footer-icons {
    width: 30%;
  }

  .lightbox {
    display: none;
    position: fixed;
    margin: 0 auto;
    flex-direction: column;
    top: 0;
    left: 0;
    padding-top: 80%;
    width: 100%;
    height: 100%;
    /* background-color: rgba(6, 21, 81, 0.8); */
    overflow: auto;
    text-align: center;
  }

  .close-button {
    position: absolute;
    top: 22%;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }

  #largeImage {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
  }

  .skills {
    background-color: white;
    padding-bottom: 10%;
  }

  .skillset-one {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 25%;
    width: 50%;
  }

  .skillset-background {
    margin-bottom: 35%;
    width: 100%;
  }

  .about-me {
    background-color: #c1c4d0;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .about-text {
    width: fit-content;
    padding: 10% 10%;
    /* margin: 0 auto; */
    /* background-color: #061551; */
    color: white;
    /* margin-left: 0; */
  }

  @media (max-width: 768px) {
    .footer-dark .item.text {
      margin-bottom: 0;
    }
  }

  @media (max-width: 991px) {
    .footer-dark .item.social {
      text-align: center;
      margin-top: 20px;
    }
  }
}
