body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  background-color: rgb(6, 21, 81);
}

.navItemsInner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.fa-solid, .fa-regular {
  color: #ffffff;
  padding-right: 8px;
  padding-top: 2px;
}

.sticky-nav {
  position: fixed;
  top: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}

.navbar-main {
  background-color: rgb(6, 21, 81);
  padding: 20px 10px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 3px solid #8151f1;
}

.nav-items {
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}

.nav-item.active {
  color: #8151f1;
}

.nav-item {
  color: white;
  text-decoration: none;
}

.nav-item:hover {
  color: rgb(133, 77, 255);
  text-decoration: none;
}

#projects-heading {
  text-align: center;
  font-size: 3.5rem;
  color: #8151f1;
  text-shadow: 1px 1px 2px;
}

.projects-body {
  color: white;
  margin-top: 8%;
}

.projects-sub-heading {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 20px;
}

.menu-button {
  display: none;
}

.project-one {
  display: flex;
  justify-content: space-evenly;
  color: #061551;
  margin-left: 15%;
  margin-top: 4%;
  width: 75%;
}

.project-background {
  background-color: white;
  /* padding: 6% 2%; */
  height: 400px;
  border-radius: 10px;
  width: 50%;
}

.project-margin {
  margin-right: 2%;
}

.project-image {
  text-align: center;
  z-index: 0;
  /* height: 1%; */
  /* margin-top: 8%; */
  object-fit: cover;
}

.project-inner-image {
  border-radius: 10px 10px 0px 0px;
}

.project-text-background {
  background-color: #8151f0;
  z-index: 1;
  border-radius: 0px 0px 10px 10px;
  height: 40%;
  padding: 5%;
  /* width: 50%; */
}

.project-header {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.project-desc {
  color: rgb(239, 237, 237);
  padding-top: 5px;
  height: 60%;
}

.project-link-cont {
  padding-top: 10px;
  color: white;
}

.project-link {
  color: #ffd700;
  text-decoration: none;
  cursor: pointer;
}

.project-link:hover {
  color: #051651;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar-main {
    height: 4vh;
  }

  .fa-solid, .fa-regular {
    color: black;
    padding-right: 8px;
    padding-top: 2px;
  }

  .menu-button {
    display: block;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 10%;
  }

  .nav-items {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: #ffffff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1); /* Adding shadow on the left side */
    transform: translateX(100%); /* Initially off-screen to the right */
    transition: transform 0.3s ease-in-out;
    color: black;
  }

  .navItemsInner {
    display: flex;
    flex-direction: column;
    height: 20vh;
    padding: 10px 10px;
    color: black;
    font-size: 1.2rem;
  }

  .nav-item {
    color: black;
    padding: 10px 0;
  }

  .nav-items.active {
    transform: translateX(0); /* Moves the menu into view */
    display: flex;
  }

  #projects-heading {
    font-size: 2.5rem;
    margin-top: 10%;
  }

  .projects-sub-heading {
    font-size: 1.2rem;
    width: 80%;
    margin: 0 auto;
  }

  .project-one {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 4%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .project-background {
    width: 80%;
    height: 100%;
    margin-bottom: 10%;
  }

  .project-image {
    width: 100%;
    height: 50%;
  }

  .project-text-background {
    height: 50%;
  }

  .project-margin {
    margin-right: 0;
  }
}
